<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Madlibs</h1>
        <form action="/story">
            Place:<input type="text" name="place"></input> <br> <br>
            Noun:<input type="text" name="noun"></input> <br> <br>
            Verb:<input type="text" name="verb"></input> <br> <br>
            Adjective:<input type="text" name="adjective"></input> <br> <br>
            Plural_Noun:<input type="text" name="plural_noun"></input> <br> <br>
            <input type="submit"></input>
        </form>
    </div>
</body>
</html>